.footer {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  bottom: 0;
  left: 0;
  background: #111416;
  color: white;
  height: 10vh;
  width: 100%;
}

.socials {
  padding-right:2vw;
  height: 5vh;
  width: 5vh;
  object-fit: contain;
}
