.hero {
  width: auto;
  background: url("/banner.jpg") no-repeat center;
  background-size: cover;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.jacube-letters-bounding {
  display: flex;
  justify-content: center;
  align-items: center;
}
.letter-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 26vmin;
}

.letter {
  width: auto;
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  z-index: 2;

  will-change: transform, filter;
  transform: translate3d(0, 0, 0);
}

.letter-a {
  margin-left: -2.5vmin;
}
.letter-c {
  margin-left: -1.5vmin;
}
.letter-u {
  margin-left: -1.3vmin;
}
.letter-b {
  margin-left: -3.3vmin;
}
.letter-e {
  margin-left: -3.2vmin;
}

.arrow {
  margin-top:75px;
  height: 4vmin;
  width: auto;
  position: absolute;
  left: 49vw;
  z-index: 9999;
}
