.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 10px;
  background: 111111;
  color: white;
  height: 10vh;
  width: 100%;

}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin: 0 10px;
}

.logo{
  height: 50%;
  width: auto;
}