.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: black;
  color: white;
  height:10vh;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin: 0 10px;
}
