.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent; /* Ensure no background blocks the blending */
  pointer-events: none; /* Prevent blocking interactions with elements below */
}

.jacubelogo {
  height: 200%;
  width: auto;
  position: relative;
  mix-blend-mode: difference; /* Dynamically blend the SVG with elements underneath */
  pointer-events: none;
  z-index: 10; /* Ensure it doesn't block interactions */
}

