@font-face {
  font-family: "Baskerville Old Face";
  src: url("@/fonts/BaskervilleOldFace.ttf") format("truetype");
}

.wrapper {
  height: 30vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;


}

.text {
  font-size: 26vmin;
  font-family: "Baskerville Old Face", serif;

  /* transition: transform 0.5s ease-out; */

}
