.spot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:30px;
  
}

.songDisplay {
  width: 100%;
  z-index: 2;
}

.cursor-overlay {
  width: 100%;
  height: 100%;
}

.destroydivhaha {
  width: 0%;
  height: 0%;
}
