#root {
  text-align: center;
}

body {
  font-family: "Marcovaldo Regular Trial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111416;
}

h1 {
  font-family: "Gotham Light", sans-serif;
  margin: 0;
}

@font-face {
  font-family: "TT Directors Demo Regular";
  src: url("/fonts/tt-directors-demo.bl-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Marcovaldo Regular Trial";
  src: url("/fonts/Marcovaldo-Regular-trial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Vivaldi Italic";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/VIVALDII.woff") format("woff");
}
@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Gotham-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Gotham Light";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Gotham-Light.otf") format("opentype");
}
@font-face {
  font-family: "Crostan Bold";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/crostan.bold.otf") format("opentype");
}
@font-face {
  font-family: "Crostan Light";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/crostan.light.otf") format("opentype");
}

video::-webkit-media-controls {
  display: none !important;
}
