#root {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111416;
}

.app {
  position: relative;
  z-index: 2; /* Content appears below the mask */
  padding: 20px;
  background: white; /* The masked area will reveal this */
}

.mask-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mask-image: url("./assets/jacubefull.svg"); /* Path to your SVG */
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain; /* Adjust size as needed */
  -webkit-mask-image: url("./assets/jacubefull.svg"); /* For WebKit browsers */
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  background: white; /* Color that the mask will show */
  z-index: 100; /* Ensure it’s above all content */
  pointer-events: none;
  mix-blend-mode: difference;
}
.navbarroot {
  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;
  top: 10px;
  left: 0;
  width: 100%;
  height: 75px;
}
.navbarmask {
  position: fixed;
  width: 200%;
  height: 200px;
  mix-blend-mode: difference; /* Dynamically blend the SVG with elements underneath */
  pointer-events: none;
  z-index: 10; /* Ensure it doesn't block interactions */
  mix-blend-mode: difference;
}
